[submodule "source/fpga_communication"]
	path = source/fpga_communication
	url = https://github.com/johonkanen/fpga_communication.git
[submodule "source/hVHDL_microprogam_processor"]
	path = source/hVHDL_microprogam_processor
	url = https://github.com/hVHDL/hVHDL_microprogam_processor.git
